In [5]:
#import libraries
import pandas as pd
import numpy as np
import yfinance as yf
import datetime
from datetime import date, timedelta
from trading_strats import stock_data
from tqdm import tqdm

In [15]:
stock_list = ['WMT','AMZN','TSLA','QQQ','MRK','BAC','CAT','CVX','GM','JPM','KO','MRK','AAPL']
num_days_list = [i * 360 for i in range(1,10)]
num_chunks_list = [i for i in range(1,10)]
percent_cutoff_list = [-5,-4,-3,-2,-1]

data = []

for ticker in tqdm(stock_list): 
    for num_days in num_days_list: 
        for num_chunks in num_chunks_list: 
            for percent_cutoff in percent_cutoff_list: 
                
                stock = stock_data(ticker=ticker,num_days=num_days,num_chunks=num_chunks,percent_cutoff=percent_cutoff)
                stock.get_stock_data()
                results = stock.simulate_avg_down_strategy()       
                data.append(results)

100%|███████████████████████████████████████████| 13/13 [15:13<00:00, 70.26s/it]

In [16]:
df = pd.DataFrame(data,columns = ['Ticker','Num_Days','Num_Chunks','Cutoff','Strategy','Buy_and_hold'])
df.head()

  Ticker  Num_Days  Num_Chunks  Cutoff  Strategy  Buy_and_hold
0    WMT       360           1      -5     -0.09         -0.09
1    WMT       360           1      -4     -0.09         -0.09
2    WMT       360           1      -3     -0.09         -0.09
3    WMT       360           1      -2     -0.09         -0.09
4    WMT       360           1      -1     -0.09         -0.09

In [19]:
strat_wins = df[df['Strategy'] > df['Buy_and_hold']]
strat_wins.head()

  Ticker  Num_Days  Num_Chunks  Cutoff  Strategy  Buy_and_hold
5    WMT       360           2      -5     -0.04         -0.09
6    WMT       360           2      -4      7.00         -0.09
7    WMT       360           2      -3      7.71         -0.09
8    WMT       360           2      -2      8.13         -0.09
9    WMT       360           2      -1     22.68         -0.09

In [20]:
strat_wins.describe()

          Num_Days   Num_Chunks       Cutoff     Strategy  Buy_and_hold
count  1200.000000  1200.000000  1200.000000  1200.000000   1200.000000
mean   1352.100000     5.007500    -2.840833    34.057833      9.323825
std     941.654139     2.335306     1.395991   119.015927     91.993599
min     360.000000     2.000000    -5.000000    -9.080000    -39.410000
25%     360.000000     3.000000    -4.000000     1.887500    -13.980000
50%    1080.000000     5.000000    -3.000000     7.095000     -4.370000
75%    2160.000000     7.000000    -2.000000    32.877500     11.870000
max    3240.000000     9.000000    -1.000000  1280.370000    955.640000

In [21]:
strat_loses = df[df['Strategy'] < df['Buy_and_hold']]
strat_loses.head()

   Ticker  Num_Days  Num_Chunks  Cutoff  Strategy  Buy_and_hold
50    WMT       720           2      -5      4.68          9.36
51    WMT       720           2      -4      8.53          9.36
52    WMT       720           2      -3      8.81          9.36
53    WMT       720           2      -2      9.07          9.36
55    WMT       720           3      -5      3.12          9.36

In [22]:
strat_loses.describe()

          Num_Days   Num_Chunks       Cutoff     Strategy  Buy_and_hold
count  3479.000000  3479.000000  3479.000000  3479.000000   3479.000000
mean   1954.803104     5.670882    -3.054326    46.688971    162.830756
std     873.723046     2.251200     1.416523    87.259593    226.955898
min     360.000000     2.000000    -5.000000     0.000000      0.010000
25%    1080.000000     4.000000    -4.000000    11.060000     47.250000
50%    2160.000000     6.000000    -3.000000    20.450000     88.360000
75%    2880.000000     8.000000    -2.000000    41.260000    122.670000
max    3240.000000     9.000000    -1.000000   853.580000   1161.420000