## Notebook for simulating one of my favorite trading strategies. 

### Disclaimer: The author of this code/analysis assumes for those who risk their money trying this strategy. There is inherent risk to participating in the stock market despite this technical analysis. As a general rule, one should only trade/invest with money that one can afford to lose. 


Author: Evan Tsiklidis

## Premise: Average down on blue chip stocks and compare with the hold strategy. Code is meant to answer the following questions. 
1. When should we average down? 
2. How much should we purchase?

## Summary: More work to be done here, but this could be a profitable strategy! 

Averaging down / selling a portion if/when the stock rises to break even in this method has the following advantages: 
1. Provides protection against larger decline. 
2. Takes advantage of natural market volatility. 
3. Since we are selling shares in a first-in-first-out manner, we will frequently be selling loser stocks for a loss and keeping the ones at a lower cost basis which has numerous tax benefits. 

Risks: 
1. This strategy is based on the assumption that blue-chip stocks will not continuously decline without ever popping up. Generally speaking, stocks will drop but may also increase in value briefly as traders/investers attempt to "buy-the-dip". However, there is requirement guaranteeing this will happen: just what tends to happen to stocks in the market. 

Since we are averaging down and selling at break-even (protecting us from further drops,

In [1]:
#import libraries
import pandas as pd
import numpy as np
import yfinance as yf
import datetime
from datetime import date, timedelta
from trading_strats import stock_data
from tqdm import tqdm

In [2]:
stock_list = ['AMZN','TSLA','QQQ','MRK','BAC','CAT','CVX','GM','JPM','KO','MRK','AAPL']
num_days_list = [i * 360 for i in range(1,10)]
num_chunks_list = [i for i in range(1,10)]
percent_cutoff_list = [-5,-4,-3,-2,-1]

data = []

for ticker in tqdm(stock_list): 
    for num_days in num_days_list: 
        for num_chunks in num_chunks_list: 
            for percent_cutoff in percent_cutoff_list: 
                
                stock = stock_data(ticker=ticker,num_days=num_days,num_chunks=num_chunks,percent_cutoff=percent_cutoff)
                stock.get_stock_data()
                results = stock.simulate_avg_down_strategy()       
                data.append(results)

100%|███████████████████████████████████████████| 12/12 [11:43<00:00, 58.63s/it]

In [3]:
df = pd.DataFrame(data,columns = ['Ticker','Num_Days','Num_Chunks','Cutoff','Strategy','Buy_and_hold'])
df.head()

  Ticker  Num_Days  Num_Chunks  Cutoff  Strategy  Buy_and_hold
0   AMZN       360           1      -5     -4.72         -4.72
1   AMZN       360           1      -4     -4.72         -4.72
2   AMZN       360           1      -3     -4.72         -4.72
3   AMZN       360           1      -2     -4.72         -4.72
4   AMZN       360           1      -1     -4.72         -4.72

In [15]:
df.corr()

                  Num_Days    Num_Chunks        Cutoff  Strategy  Buy_and_hold
Num_Days      1.000000e+00  7.095681e-17  1.057745e-16  0.292080  3.685895e-01
Num_Chunks    7.095681e-17  1.000000e+00  1.241213e-17 -0.258648  1.275270e-16
Cutoff        1.057745e-16  1.241213e-17  1.000000e+00  0.044291 -8.340878e-16
Strategy      2.920800e-01 -2.586480e-01  4.429094e-02  1.000000  7.295538e-01
Buy_and_hold  3.685895e-01  1.275270e-16 -8.340878e-16  0.729554  1.000000e+00

In [14]:
strat_wins = df[df['Strategy'] > df['Buy_and_hold']]
strat_wins.head(100)

    Ticker  Num_Days  Num_Chunks  Cutoff  Strategy  Buy_and_hold
5     AMZN       360           2      -5      3.25         -4.72
6     AMZN       360           2      -4      3.27         -4.72
7     AMZN       360           2      -3      7.79         -4.72
8     AMZN       360           2      -2      9.28         -4.72
9     AMZN       360           2      -1     22.43         -4.72
..     ...       ...         ...     ...       ...           ...
110   AMZN      1080           5      -5      1.15        -15.36
111   AMZN      1080           5      -4      1.20        -15.36
112   AMZN      1080           5      -3      2.81        -15.36
113   AMZN      1080           5      -2      3.31        -15.36
114   AMZN      1080           5      -1      8.59        -15.36

[100 rows x 6 columns]

In [24]:
df[['Cutoff','Num_Chunks','Strategy',]].groupby(['Cutoff','Num_Chunks']).mean().reset_index()

    Cutoff  Num_Chunks    Strategy
0       -5           1  127.760185
1       -5           2   74.721667
2       -5           3   49.814630
3       -5           4   37.360556
4       -5           5   29.888426
5       -5           6   24.907315
6       -5           7   21.348889
7       -5           8   18.680185
8       -5           9   16.605000
9       -4           1  127.760185
10      -4           2   93.682685
11      -4           3   62.455463
12      -4           4   46.841111
13      -4           5   37.472222
14      -4           6   31.227870
15      -4           7   26.766574
16      -4           8   23.420370
17      -4           9   20.818519
18      -3           1  127.760185
19      -3           2  103.896944
20      -3           3   69.481574
21      -3           4   52.110648
22      -3           5   41.688981
23      -3           6   34.741111
24      -3           7   29.777685
25      -3           8   26.055463
26      -3           9   23.160463
27      -2           1  127.760185
28      -2           2  108.799630
29      -2           3   72.978056
30      -2           4   54.738611
31      -2           5   43.791019
32      -2           6   36.492407
33      -2           7   31.278796
34      -2           8   27.369630
35      -2           9   24.328426
36      -1           1  127.760185
37      -1           2  113.309722
38      -1           3   76.321296
39      -1           4   57.247963
40      -1           5   45.798148
41      -1           6   38.165370
42      -1           7   32.712685
43      -1           8   28.623981
44      -1           9   25.444444

In [25]:
strat_wins[['Cutoff','Num_Chunks','Strategy',]].groupby(['Cutoff','Num_Chunks']).mean().reset_index()

    Cutoff  Num_Chunks    Strategy
0       -5           2   33.490000
1       -5           3   22.327241
2       -5           4   16.585000
3       -5           5   11.766923
4       -5           6    6.847500
5       -5           7    5.868333
6       -5           8    3.954783
7       -5           9    3.516522
8       -4           2  103.993077
9       -4           3   26.467742
10      -4           4   20.110714
11      -4           5   14.763462
12      -4           6    9.457917
13      -4           7    8.107500
14      -4           8    7.093333
15      -4           9    5.287391
16      -3           2  124.055319
17      -3           3   31.063243
18      -3           4   20.899355
19      -3           5   14.988148
20      -3           6    9.774000
21      -3           7    8.377200
22      -3           8    7.330000
23      -3           9    5.602609
24      -2           2  126.093077
25      -2           3   34.863421
26      -2           4   24.518750
27      -2           5   18.532857
28      -2           6   12.171600
29      -2           7   10.432000
30      -2           8    9.128000
31      -2           9    7.207917
32      -1           2  127.617895
33      -1           3   36.668605
34      -1           4   26.122121
35      -1           5   19.495333
36      -1           6   13.520000
37      -1           7   11.588077
38      -1           8   10.139615
39      -1           9    8.172400

In [26]:
strat_wins[['Cutoff','Strategy',]].groupby(['Cutoff']).mean().reset_index()

   Cutoff   Strategy
0      -5  13.912816
1      -4  29.847489
2      -3  36.659958
3      -2  40.768876
4      -1  42.927105

In [27]:
df[['Cutoff','Strategy',]].groupby(['Cutoff']).mean().reset_index()

   Cutoff   Strategy
0      -5  44.565206
1      -4  52.271667
2      -3  56.519228
3      -2  58.615195
4      -1  60.598200

In [28]:
short_term = df[df['Num_Days'] < 1081]
short_term[['Cutoff','Strategy',]].groupby(['Cutoff']).mean().reset_index()

   Cutoff   Strategy
0      -5   8.740216
1      -4   9.571543
2      -3  10.150710
3      -2  11.069660
4      -1  12.250216

In [29]:
short_term[['Num_Chunks','Strategy',]].groupby(['Num_Chunks']).mean().reset_index()

   Num_Chunks   Strategy
0           1  23.357778
1           2  18.863611
2           3  12.781611
3           4   9.593056
4           5   7.674556
5           6   6.395611
6           7   5.481333
7           8   4.796611
8           9   4.264056

In [16]:
strat_wins.Ticker.value_counts()

GM      305
CVX     209
BAC     173
AMZN    124
TSLA     91
KO       79
CAT      73
JPM      66
QQQ      46
AAPL      8
MRK       6
Name: Ticker, dtype: int64

In [5]:
strat_wins.describe()

          Num_Days   Num_Chunks       Cutoff     Strategy  Buy_and_hold
count  1180.000000  1180.000000  1180.000000  1180.000000   1180.000000
mean   1378.067797     5.027966    -2.872881    33.704314      7.854381
std     937.644892     2.346939     1.407882   120.155169     93.368022
min     360.000000     2.000000    -5.000000    -9.540000    -42.000000
25%     720.000000     3.000000    -4.000000     1.637500    -15.360000
50%    1080.000000     5.000000    -3.000000     7.020000     -5.750000
75%    2160.000000     7.000000    -2.000000    32.832500     10.630000
max    3240.000000     9.000000    -1.000000  1279.060000    950.380000

In [6]:
strat_loses = df[df['Strategy'] < df['Buy_and_hold']]
strat_loses.head()

    Ticker  Num_Days  Num_Chunks  Cutoff  Strategy  Buy_and_hold
140   AMZN      1440           2      -5      6.44         12.88
141   AMZN      1440           2      -4      6.44         12.88
142   AMZN      1440           2      -3      9.02         12.88
143   AMZN      1440           2      -2     10.93         12.88
145   AMZN      1440           3      -5      4.29         12.88

In [7]:
strat_loses.describe()

          Num_Days   Num_Chunks       Cutoff     Strategy  Buy_and_hold
count  3140.000000  3140.000000  3140.000000  3140.000000   3140.000000
mean   1958.560510     5.677389    -3.047771    49.737567    172.820328
std     875.658128     2.245252     1.414082    91.484982    237.454801
min     360.000000     2.000000    -5.000000     0.500000      4.530000
25%    1080.000000     4.000000    -4.000000    11.630000     43.260000
50%    2160.000000     6.000000    -3.000000    21.280000     90.400000
75%    2880.000000     8.000000    -2.000000    45.215000    155.485000
max    3240.000000     9.000000    -1.000000   852.710000   1176.710000